.logo{
    width: 60px;
}
.nav-links{
    text-decoration: none;
    margin-left: 20px;
    font-size: 22px;
    color: white;
    display: block;
    padding:5px;
}
.company-name{
    font-family:cursive;
    font-size: 36px; 
}
.company-name-span{
    color:  #5383d3;
}
.nav-img{
    border-radius: 50%;
    width: 45px;
    margin-left: 20px;
    margin-right: 10px;
}
.logout-btn{
    margin-left: 20px;   
}
.nav-name{
    font-size: 20px;
}